*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(155, 51, 13);
    font-family: 'Dosis', sans-serif;
} 

ul{
    list-style: none;
    
    font-style: italic;
    font-weight: 500;
}

a{
    text-decoration: none;
}

body{
    /*background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;*/
    background: url(./barley-field-1684052_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    /*background: linear-gradient(90deg,#061700, #52c234  );*/
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 2px solid #000; */
    box-shadow: 1px 1px 10px 1px #3b4e06d2; 
    /* border-bottom: 15px ridge #3b4e06d2;; */
    margin-bottom: 200px;
}

header ul{
    display: flex;

}

header ul li{
    padding: 5px;
    border-right: 1px dashed #3b4e06d2 ;
    
}

header ul li a:hover{
    color:coral;
    text-decoration: underline;
    transition: 300ms;
}

header ul li:first-child{
    border-left: 1px dashed #3b4e06d2 ;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
    align-items: baseline;
}

.container .name h5{
    font-size: 30px;
}

#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

/* .flex{
    display: flex;
}

.flex div{
    border: 1px solid #000;
    margin 15px;
    flex-basis: 100%;
    background-color: rosybrown;
    display: flex;
}

.flex img{
    max-width: 200px;
} */

#about p{
    
    max-width: 600px;
    margin: 0px auto;
}

.form{
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    /* border: thick double #3b4e06d2; */
    padding: 25px;
    
}

.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button{
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, cadetblue 50%,  rgb(155, 51, 13) 50%);
    background-size: 200% 100%;
    background-position:right bottom ;
    color:rgb(136, 134, 127);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 17px;
    margin-left: -5px;
}

.form button:hover{
    background-position: left bottom;
    
}

@media only screen and (max-width: 480px) {
    .container .name h1{
        font-size: 30px;
    }

    .container .name h5{
        font-size: 15px;
    }
    
}

